<div id="ajax-modal" class="modal fade" role="dialog" aria-labelledby="ajax-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ajax-modal-title" data-title="App Name">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ajax-modal-content">
            </div>
            <div id='ajax-modal-original-content' hidden>
                <div class="original-modal-body row">
                    <div class="spinner-border avatar-sm text-primary m-2 mx-auto" role="status"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>