
{% import 'philbert/general/lib.html' as lib %}

{% set begin_sep_label = '' %}
{% set end_sep_label = '' %}

{% set begin_sep_field = '' %}
{% set end_sep_field = '' %}

<div class="panel panel-body">
{{ request.args.get('a') }}
    <div class="row">
        <div class="col-lg-3 col-md-4 pr-0">
            {% include 'philbert/pages/account/contact/partials/_sidebar.html' %}
        </div>
        <div class="col-lg-9 col-md-8 pl-0">
            <div class="pl-15 pr-15" style="border-left: 1px solid #dedede;">
                {% if request.args.get('page') == 'demographics' %}
                    {% include 'philbert/pages/account/contact/pages/_demographics.html' with context %}
                {% elif request.args.get('page') == 'guarantors' %}
                    {% include 'philbert/pages/account/contact/pages/_guarantors.html' %}
                {% else %}
                    {% include 'philbert/pages/account/contact/pages/_demographics.html'%}
                {% endif %}
                
            </div>
        </div>
    </div>

    

</div>