<h6 class="mb-10">Account</h6>
            <ul class="inbox-nav mb-30 pr-15">
                <li class="active">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Demographics 
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Guarantors
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Insurance Information
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Patient Preference 
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Billing
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Transactions
                    </a>
                </li>
            </ul>

            
            <h6 class="mb-10">Medical Records</h6>
            <ul class="inbox-nav mb-30 pr-15">
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Allergies
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Medication List
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Problem List
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Histories
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Labs
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Radiology
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Immunizations
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Procedures
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Retails
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Health Maintenance
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="fa fa-stop txt-secondary"></i> 
                        Past Encounters
                    </a>
                </li>
            </ul>